/* line 17, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Applications/LiveReload.app/Contents/Resources/SASS.lrplugin/lib/compass/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* ************* */
/*   REPONSIVE   */
/* ************* */
/*    GÉNÉRAL    */
/* line 19, ../sass/screen.scss */
html, body {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

/* line 24, ../sass/screen.scss */
body {
  background-color: #fafafa;
  font-size: 18px;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #2d2d2d;
}
/* line 32, ../sass/screen.scss */
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin-bottom: 10px;
  color: #006fe0;
}
/* line 38, ../sass/screen.scss */
body h1 {
  font-size: 3em;
}
/* line 42, ../sass/screen.scss */
body h2 {
  font-size: 2.5em;
}
/* line 46, ../sass/screen.scss */
body h3 {
  font-size: 1.7em;
}
/* line 50, ../sass/screen.scss */
body h4 {
  font-size: 1.5em;
}
/* line 54, ../sass/screen.scss */
body .clear {
  display: block;
  clear: both;
}
/* line 59, ../sass/screen.scss */
body .success {
  margin: 10px 0;
  color: #05af0d;
  text-align: center;
}

/* ************* */
/*    HEADER     */
/* line 69, ../sass/screen.scss */
header {
  width: 100%;
  height: 140px;
  position: relative;
  overflow: hidden;
  border-bottom: 2px solid #adadad;
  background-color: #7abcff;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF7ABCFF', endColorstr='#FF4096EE');
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7abcff), color-stop(44%, #60abf8), color-stop(100%, #4096ee));
  background-image: -webkit-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background-image: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background-image: -o-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background-image: linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  /* Rotation des rayons au hover du soleil */
  /* Menu */
}
/* line 80, ../sass/screen.scss */
header #sun {
  display: block;
  width: 150px;
  height: 150px;
  position: relative;
  margin: 50px auto 0 auto;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  background-color: #ffff35;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFFFFF35', endColorstr='#FFFFFF02');
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 100, color-stop(0%, #ffff35), color-stop(100%, #cece00));
  background-image: -webkit-radial-gradient(center, ellipse cover, #ffff35 0%, #cece00 100%);
  background-image: -moz-radial-gradient(center, ellipse cover, #ffff35 0%, #cece00 100%);
  background-image: -o-radial-gradient(center, ellipse cover, #ffff35 0%, #cece00 100%);
  background-image: radial-gradient(center, ellipse cover, #ffff35 0%, #cece00 100%);
  /* Rotation des rayons au hover du header */
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 6s;
  -moz-transition-duration: 6s;
  -o-transition-duration: 6s;
  transition-duration: 6s;
}
/* line 95, ../sass/screen.scss */
header #sun #rays {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  /* Orientation et position de chaque rayon */
}
/* line 103, ../sass/screen.scss */
header #sun #rays .ray {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #ffff35;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-1 {
  -webkit-transform: rotate(0.5236rad);
  -moz-transform: rotate(0.5236rad);
  -ms-transform: rotate(0.5236rad);
  -o-transform: rotate(0.5236rad);
  transform: rotate(0.5236rad);
  left: 75.93267px;
  top: 52.5px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-2 {
  -webkit-transform: rotate(1.0472rad);
  -moz-transform: rotate(1.0472rad);
  -ms-transform: rotate(1.0472rad);
  -o-transform: rotate(1.0472rad);
  transform: rotate(1.0472rad);
  left: 37.5px;
  top: 90.93267px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-3 {
  -webkit-transform: rotate(1.5708rad);
  -moz-transform: rotate(1.5708rad);
  -ms-transform: rotate(1.5708rad);
  -o-transform: rotate(1.5708rad);
  transform: rotate(1.5708rad);
  left: -15.0px;
  top: 105px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-4 {
  -webkit-transform: rotate(2.0944rad);
  -moz-transform: rotate(2.0944rad);
  -ms-transform: rotate(2.0944rad);
  -o-transform: rotate(2.0944rad);
  transform: rotate(2.0944rad);
  left: -67.5px;
  top: 90.93267px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-5 {
  -webkit-transform: rotate(2.61799rad);
  -moz-transform: rotate(2.61799rad);
  -ms-transform: rotate(2.61799rad);
  -o-transform: rotate(2.61799rad);
  transform: rotate(2.61799rad);
  left: -105.93267px;
  top: 52.5px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-6 {
  -webkit-transform: rotate(3.14159rad);
  -moz-transform: rotate(3.14159rad);
  -ms-transform: rotate(3.14159rad);
  -o-transform: rotate(3.14159rad);
  transform: rotate(3.14159rad);
  left: -120px;
  top: 0.0px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-7 {
  -webkit-transform: rotate(3.66519rad);
  -moz-transform: rotate(3.66519rad);
  -ms-transform: rotate(3.66519rad);
  -o-transform: rotate(3.66519rad);
  transform: rotate(3.66519rad);
  left: -105.93267px;
  top: -52.5px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-8 {
  -webkit-transform: rotate(4.18879rad);
  -moz-transform: rotate(4.18879rad);
  -ms-transform: rotate(4.18879rad);
  -o-transform: rotate(4.18879rad);
  transform: rotate(4.18879rad);
  left: -67.5px;
  top: -90.93267px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-9 {
  -webkit-transform: rotate(4.71239rad);
  -moz-transform: rotate(4.71239rad);
  -ms-transform: rotate(4.71239rad);
  -o-transform: rotate(4.71239rad);
  transform: rotate(4.71239rad);
  left: -15.0px;
  top: -105px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-10 {
  -webkit-transform: rotate(5.23599rad);
  -moz-transform: rotate(5.23599rad);
  -ms-transform: rotate(5.23599rad);
  -o-transform: rotate(5.23599rad);
  transform: rotate(5.23599rad);
  left: 37.5px;
  top: -90.93267px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-11 {
  -webkit-transform: rotate(5.75959rad);
  -moz-transform: rotate(5.75959rad);
  -ms-transform: rotate(5.75959rad);
  -o-transform: rotate(5.75959rad);
  transform: rotate(5.75959rad);
  left: 75.93267px;
  top: -52.5px;
}
/* line 117, ../sass/screen.scss */
header #sun #rays #ray-12 {
  -webkit-transform: rotate(6.28319rad);
  -moz-transform: rotate(6.28319rad);
  -ms-transform: rotate(6.28319rad);
  -o-transform: rotate(6.28319rad);
  transform: rotate(6.28319rad);
  left: 90px;
  top: 0.0px;
}
/* line 135, ../sass/screen.scss */
header:hover #sun {
  -webkit-transform: rotate(350deg);
  -moz-transform: rotate(350deg);
  -ms-transform: rotate(350deg);
  -o-transform: rotate(350deg);
  transform: rotate(350deg);
}
/* line 142, ../sass/screen.scss */
header nav {
  position: absolute;
  left: 20px;
  bottom: 10px;
  color: #3e3e3e;
}
/* line 149, ../sass/screen.scss */
header nav a, header nav a:visited {
  color: #3e3e3e;
  text-decoration: none;
}
/* line 154, ../sass/screen.scss */
header nav a:hover, header nav a:visited:hover {
  color: #2d2d2d;
}
/* line 161, ../sass/screen.scss */
header #earthEdge {
  display: none;
}

/* ************* */
/*   CONTENT     */
/* line 169, ../sass/screen.scss */
#contentWrapper {
  min-height: 200px;
  background-color: #fafafa;
}
/* line 174, ../sass/screen.scss */
#contentWrapper #content {
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 500px) {
  /* line 174, ../sass/screen.scss */
  #contentWrapper #content {
    width: 100%;
  }
}

/* ************* */
/*   FOOTER      */
/* line 188, ../sass/screen.scss */
footer {
  width: 100%;
  height: 100px;
  background-color: #fafafa;
}

/* ************* */
/*     HOME      */
/* line 199, ../sass/screen.scss */
.home h1 {
  font-size: 1.5em;
  font-variant: italic;
  margin-bottom: 20px;
}
/* line 205, ../sass/screen.scss */
.home .module {
  padding: 20px 0;
  text-align: center;
}
/* line 212, ../sass/screen.scss */
.home #message {
  margin-bottom: 0;
  font-size: 1.5em;
}
/* line 219, ../sass/screen.scss */
.home #date {
  clear: both;
  width: 100%;
}
/* line 224, ../sass/screen.scss */
.home #date .date {
  display: block;
  font-size: 2em;
  color: #006fe0;
}
/* line 230, ../sass/screen.scss */
.home #date #heure {
  display: block;
  font-size: 5.6em;
}
/* line 239, ../sass/screen.scss */
.home #horairesMetro {
  width: 50%;
  float: left;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(1n) {
  font-size: 1.7em;
  opacity: 1;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(2n) {
  font-size: 1.36em;
  opacity: 0.8;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(3n) {
  font-size: 1.02em;
  opacity: 0.6;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(4n) {
  font-size: 0.68em;
  opacity: 0.4;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(5n) {
  font-size: 0.34em;
  opacity: 0.2;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(6n) {
  font-size: 0.0em;
  opacity: 0;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(7n) {
  font-size: -0.34em;
  opacity: -0.2;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(8n) {
  font-size: -0.68em;
  opacity: -0.4;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(9n) {
  font-size: -1.02em;
  opacity: -0.6;
}
/* line 256, ../sass/screen.scss */
.home #horairesMetro ul li:nth-child(10n) {
  font-size: -1.36em;
  opacity: -0.8;
}
/* line 268, ../sass/screen.scss */
.home #meteo .meteoContainer {
  margin: -15px auto 0 auto;
  background: transparent !important;
}
/* line 274, ../sass/screen.scss */
.home #meteo .copy, .home #meteo .more {
  display: none !important;
}
/* line 279, ../sass/screen.scss */
.home #meteo div {
  border: none !important;
}
/* line 286, ../sass/screen.scss */
.home #news {
  max-width: 1000px;
  margin: 0 auto;
}
/* line 290, ../sass/screen.scss */
.home #news a {
  color: black;
  text-decoration: none;
}
/* line 294, ../sass/screen.scss */
.home #news a:hover {
  text-decoration: underline;
}
/* line 300, ../sass/screen.scss */
.home #news .reddit-link {
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px solid #444;
}
/* line 305, ../sass/screen.scss */
.home #news .reddit-link:last-child {
  border: none;
}
/* line 311, ../sass/screen.scss */
.home #news .reddit-title, .home #news .reddit-voting-arrows, .home #news small, .home #news .score, .home #news .reddit-comment-link {
  display: none;
}

/* ************* */
/* CONFIGURATION */
/* Formulaire de configuration du réveil : jours et heures */
/* line 323, ../sass/screen.scss */
form {
  line-height: 2em;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 10px;
}
/* line 330, ../sass/screen.scss */
form .bloc {
  width: 45%;
  float: left;
  margin: 10px 0 20px 0;
  min-height: 100px;
}
/* line 337, ../sass/screen.scss */
form .bloc:nth-child(2n-1) {
  clear: both;
  margin-right: 10%;
}
@media (max-width: 500px) {
  /* line 330, ../sass/screen.scss */
  form .bloc {
    width: 100%;
    margin: 10px auto;
    min-height: 0;
  }
}
/* line 349, ../sass/screen.scss */
form .bloc h3 {
  width: 95%;
  font-size: 1.3em;
  text-align: center;
  border-bottom: 1px solid #adadad;
}
/* line 358, ../sass/screen.scss */
form p {
  clear: both;
  margin-bottom: 10px;
}
/* line 363, ../sass/screen.scss */
form .day {
  clear: none;
  float: left;
  width: 150px;
  height: 150px;
  margin: 10px 10px;
}
@media (max-width: 500px) {
  /* line 363, ../sass/screen.scss */
  form .day {
    width: 48%;
    height: auto;
    text-align: center;
    margin: 10px 0;
    padding: 0;
  }
}
/* line 380, ../sass/screen.scss */
form .day.inactive {
  opacity: 0.6;
}
/* line 388, ../sass/screen.scss */
form label.dayName {
  display: block;
  float: left;
  color: black;
  font-size: 22px;
}
@media (max-width: 500px) {
  /* line 388, ../sass/screen.scss */
  form label.dayName {
    font-size: 18px;
    margin-left: 5px;
  }
}
/* line 403, ../sass/screen.scss */
form input[type='checkbox'] {
  width: 25px;
  height: 25px;
  margin-top: 6px;
  float: left;
  clear: none;
}
@media (max-width: 500px) {
  /* line 403, ../sass/screen.scss */
  form input[type='checkbox'] {
    width: 20px;
    height: 20px;
  }
}
/* line 413, ../sass/screen.scss */
form input[type='time'] {
  width: 120px;
  background-color: transparent;
  border: none;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 20px;
}
@media (max-width: 500px) {
  /* line 413, ../sass/screen.scss */
  form input[type='time'] {
    margin-left: 22px;
  }
}
/* line 425, ../sass/screen.scss */
form input[type='submit'] {
  display: block;
  margin: 0 auto;
  font-size: 20px;
}
/* line 432, ../sass/screen.scss */
form textarea {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 5px;
}
/* line 439, ../sass/screen.scss */
form select {
  display: block;
  width: 90%;
  margin: 0 auto;
  font-size: 16px;
}
